/* put fancy stuff here */
.test {
    background:gray;
    width:200px;
    height:200px;
    cursor:url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.iconpacks.net%2Ffree-icon%2Fhalloween-ghost-2298.html&psig=AOvVaw09ZynkcCkso5Bm05jj6jti&ust=1697851894845000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCNidirC9g4IDFQAAAAAdAAAAABAI');
  }